<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo List</title>
</head>
<body>
    <div id="app">
        <h1>{{heading}}</h1>
        <form @submit="onSubmit">
            <div>
                <label for="newTodo">
                    Add a new Todo
                </label>
                <input type="text" id="newTodo" v-model="newTodo">
                <button type="submit">create</button>
            </div>
        </form>
        <ol>
            <li
                is="todo-list"
                v-for="todo in todos"
                v-bind:name="todo.name"
                v-bind:id="todo.id"
                v-bind:key="todo.id"
                v-bind:removeTodo="removeTodo"
            >
            </li>
        </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                heading: "Vue 2 Todo List",
                newTodo: '',
                todos: [

                ]
            },
            methods: {
                onSubmit: function(e){
                    e.preventDefault();
                    let id = this.todos.length + 1;
                    this.todos.unshift({id, name: newTodo.value});
                },
                removeTodo: function(id){
                    this.todos = this.todos.filter(function(todo){
                        return todo.id !== id;
                    })
                }
            }
        })
        Vue.component('todo-list',{
            template: '\
            <li>\
                {{name}}\
                <button type="button" @click=\'removeTodo(id)\'>remove </button>\
            </li>\
            ',
            props: ['name', 'id','removeTodo']
        })
    </script>
</body>
</html>